<a [routerLink]="['/form']" routerLinkActive="router-link-active">Form</a>
&nbsp; | &nbsp;
<a [routerLink]="['/reactive-form']" routerLinkActive="router-link-active">reactive-Form</a>
&nbsp; | &nbsp;
<a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a>
&nbsp; | &nbsp;
<a [routerLink]="['/']" routerLinkActive="router-link-active">List</a>
<!-- &nbsp; | &nbsp;
<a [routerLink]="['/edit/:id']" routerLinkActive="router-link-active">Edit</a> -->



<hr>
<router-outlet></router-outlet>