<div class="container" >
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            <h1>Danh sách xe</h1>
            <a  [routerLink]="['/add']" class="btn btn-primary">Thêm </a>
            <table class="table table-light" >
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Price</td>
                        <td>Action</td>
                    </tr>
                </thead>
            
                <tbody>
                    <tr *ngFor="let product of products, let idx = index">
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td> 
                            <a [routerLink]="['/edit',idx]" class="btn btn-primary">Edit</a> | 
                            <a [routerLink]="['/delete',idx]" class="btn btn-danger">Delete</a> 
                        </td>
                    </tr>
        
                </tbody>
            </table>
            
        </div>
        <div class="col-lg-3"></div>
    
</div>
</div>
